.App{
  max-width:400px;
  margin:50px auto;
  font-family: arial, sans-serif;
}

.input-area{
  display: flex;
  gap:10px;
  margin-bottom: 20px;
}

input{
  flex:1;
  padding: 5px;
}

button{
  padding: 5px 10px;
}

li{
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}